* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    background-color: #f7feff;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 16px;
    padding: 30px;
}

p,
ul,
li,
ol,
label {
    font-size: .9em;
    margin-bottom: 10px;
}

a {
    font-size: .9em;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #e85d04;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-transform: uppercase;
    margin-right: 25px;
}

main {
    margin-top: 50px;
}

#search-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

#ingredients-container,
#time-container,
#multiselect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ingredients {
    width: 250px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #333;
}

#time-slider {
    appearance: none;
    width: 200px;
    height: 8px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #faa307;
    border: 1px solid #333;
    opacity: .8;
}

#time-slider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #faa307;
    border: 1px solid #333;
    cursor: pointer;
}

#time-slider:hover {
    opacity: 1;
}

#intolerances {
    width: 250px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #333;
}

#recipe-search {
    background-color: #e85d04;
    color: #fff;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #333;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
}

#recipe-search:hover {
    background-color: #dc2f02;
    transition: 1s;
}

#recipes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

article {
    max-width: 350px;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 350px;
}

article button {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-family: 'DM Serif Display', Georgia, 'Times New Roman', Times, serif;
    color: #dc2f02;
    font-size: 3em;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    color: #e85d04;
    font-size: 1.7em;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

h2 button {
    color: #e85d04;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    background: none;
    border: none;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 15px;
    text-transform: uppercase;
}

.recipe-name:hover {
    cursor: pointer;
}

.fav-comments {
    width: 350px;
    height: 50px;
    align-items: flex-start;
    margin-top: 10px;
}


    @media screen and (min-width: 480px) {
        #search-container {
            flex-direction: row;
        }
    }

/*meal planner*/

.weekday-div {
    margin-top: 20px;
    display: flex; 
    padding: 10px;
    border: 2px solid;
    flex-direction: column;
}

.weekday-section {
    background-color: #e85d04;
    min-height: 200px;
    height: auto;
    width: 100%;
    display: flex;
    border-width: 1.5px 3px;
    border-style: solid;
}

.input-section {
    display: flex;
    width: 25%;
    border-right: 2px solid;
    flex-direction: column;
    justify-content: space-around;
}

.input-section h2 {
    color: black;
    font-size: 1.7em;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-self: center;
    width: 100%;
}

.input-section p {
    text-align: center;
}

.input-section select {
    width: 250px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #333;  
    align-self: center;
    background-color: #f7feff;
}

.input-section button {
    width: 150px;
    align-self:center;
    background-color: #f7feff;
    border: 1px solid #333;  
}

.recipe-section {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    border-right: 2px solid;
    padding: 5px;
}

.recipe-section div {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
}

.recipe-section h2 {
    color: #333;
    font-size: 1.7em;
    display: flex;
    text-align: center;
}


.recipe-section img {
    min-width: 200px;
}

.recipe-section section {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: flex-start;
}

.recipe-section section h3 {
    text-align: center;
}

.recipe-section section ul {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    list-style-type: circle;
}

.recipe-section section ul li {
    margin: 10px;
}

.clear-section {
    display: flex;
    width: 15%;
}

.clear-section button {
    width: 150px;
    align-self:center;
    background-color: #f7feff;
    border: 1px solid #333; 
    
}